<h1>Campervans</h1>

<ul>
  <% @campervans.each do |campervan| %>
        <li>
          <%= link_to campervan.title, campervan_path(campervan) %>
          <%= campervan.brand %>
          <%= campervan.model %>
          <%= campervan.price_per_night %>
        </li>
  <% end %>
</ul>
