// Define variables for your color scheme

// For example:
$pale-green: #EDEEC0;
$cafe-brown: #4F3824;
$copper-red: #D1603D;
$middle-green: #5B8C5A;
$sage: #D0C88E;
$mustard-yellow: #DC851F;
$light-blue: #96ADC8;

$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

