.van-photo img {
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 10px solid white;
  margin-bottom: 10px;
}

.btn-book {
  width: 100%;
}

.rotated img {
  transform: rotate(-3deg);
  margin: 20px 10px 20px 0;
}

.confirmation-details {
  list-style: none;
}
