<div class=container>

  <h1>New Booking</h1>

  <%= simple_form_for([@campervan, @booking]) do |f| %>
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.button :submit, 'BOOK NOW!', class: "bnt btn-flat" %>
  <% end %>

</div>

