<form>
  <div class="form-row">
    <div class="col-6">
      <input type="text" class="form-control" placeholder="City">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Start">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="End">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Capacity">
    </div>
  </div>
</form>
